#texto-fonte-root{
background-color: aqua;
font-size: 3rem;
}

#texto-paddings-verticais{
padding-top: 2em;
padding-bottom: 2em;
background-color: blueviolet;
}

#altura-porcentagem-comprimento{
background-color: lightgreen;
height: 20vw;

}

#comprimento-metade-altura{
background-color: coral;
width: 50vh;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
background-color: blue;
font-size: 70%;
}

#comprimento-pai{
background-color: darkolivegreen;
width: 10%;
}

#altura-pai{
background-color: lightsalmon;
height: 10%;
}